.App {
  text-align: center;
  line-height: 170%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

iframe {
  width: 100%;
  height: 100vw;
  border: none;
}

#list {
  margin: auto;
}

.flex {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}